@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
}

.header {
    height: 80px;
    background-color: #a0a0a0;
    display: flex;
    justify-content: space-between;
}

.header-title {
    width: 285px;
    font-size: 24px;
    color: #f5929a;
}

.header-title span {
    color: #99c3d2;
}

.header-text {
    width: 560px;
    font-size: 11px;
}

.top-menu {
    height: 40px;
    background-image: linear-gradient(to top, #ea617e, #f1789a);
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu-list {
    list-style-type: none;
    padding-left: 17px;
    display: flex;
}

.top-menu-item {
    margin-right: 27px;
    position: relative;
}

.top-menu-item:after {
    content:"";
    height: 12px;
    width: 1px;
    background-color: #dc466c;
    position: absolute;
    right: -15px;
    top: 6px;
}

.top-menu-item:last-child {
    margin-right: 0;
}

.top-menu-link {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.search {
    padding-right: 12px;
}

.search input {
    width: 202px;
    height: 20px;
    border-radius: 18px;
    border: 1px solid #cf4263;
    padding-left: 13px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.page-content {
    height: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left-side {
    width: 200px;
    background-color: #ff0000;
}

.center {
    width: 480px;
    background-color: green;
}

.right-side {
    width: 200px;
    background-color: #ff0000;
}

.footer {
    height: 95px;
    background-color: #fff;
}

